/* UMN Header  */

.header {
  padding: 5px 15px ;
  text-align: right;
  background: #7a0019;
  color: white;
  font-size: 1px;
  font-family: Arial, Helvetica, sans-serif;
}

.header-img{
  max-width: 10%;
  height: auto;}

#header_links a{
  align: right;
  background: #7a0019;
  color: white;
  font-size: 14px;
  text-decoration: none;
}
#header_links p{
  align: right;
  background: #7a0019;
  color: white;
  font-size: 1px;
  text-decoration: none;
}

#header_links a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

#header_links a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

#header_links a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
/* End of UMN Header  */

*
{ margin: 0;
  padding: 0;}

body
{ font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: white;
}

p
{ padding: 0 0 20px 0;
  line-height: 1.7em;
  font-size: 130%}

h1, h2
{ font: normal 175% 'century gothic', arial, sans-serif;
  color: black;
  margin: 0 0 15px 0;
  padding: 0 0 5px 0;}

h3
{ font: normal 175% 'century gothic', arial, sans-serif;
  color: black;
  margin: 0 0 10px 0;
  padding: 0 0 3px 0;
  text-decoration: underline;

}
h4
{ font: normal 175% 'century gothic', arial, sans-serif;
  margin: 0;
  padding: 0 0 5px 0;
  font: normal 120% arial, sans-serif;
  color: black;}

h5, h6
{ font: italic 95% arial, sans-serif;
  padding: 0 0 15px 0;
  color: black;}

h6
{ color: black;}

ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 6px 0;
  padding: 0 0 4px 5px;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, #menubar, #site_content
{ margin-left: 0;
  margin-right: auto;}

#logo {
  margin-left: 75px;
  margin-right: auto;}

h8 {
  color: black;
  font-size: 40px;
  text-transform: capitalize;
  text-decoration: underline;
}

h1
{ font: normal  'century gothic', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0;}


h2
  { font: normal  'century gothic', arial, sans-serif;
    border-bottom: 0;
    text-transform: uppercase;
    margin: 0;}

p {
  color: black;
  font-size: 16px;
  text-transform: none;
  text-decoration: none;
}

p2 {
  color: black;
  font-size: 16px;
  text-transform: none;
  text-decoration: none;
}


#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover
{ padding: 22px 0 0 0;
  color: black;
  text-decoration: underline;}

#logo_text h1
{ color: black;}

#logo_text h2
{ font-size: 180%;
  padding: 4px 5px 0 100px;
  color: black;}

#menubar
{ height: 72px;
  padding: 0;
  background: #EAEBEB;}

ul#menu, ul#menu li
{ margin: 10px;
  padding: 0;}

ul#menu li
{ list-style: none;}

ul#menu li a
{ letter-spacing: 0.1em;
  font: normal 100% 'lucida sans unicode', arial, sans-serif;
  float: left;
  height: 37px;
  padding: 29px 26px 6px 26px;
  text-align: center;
  color: #303737;
  text-transform: uppercase;
  background: transparent;}

ul#menu li a:hover, ul#menu li.selected a, ul#menu li.selected a:hover
{ color: #303737;
  background: #D6DADA;}

#site_content{
  width: 1300px;
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding: 23px 23px 20px 37px;
  background: white;
  color: black;}

.sidebar
{ float: right;
  width: 300px;
  padding: 75px 15px 20px 15px;
}

.sidebar li
{ list-style: none;
 }

#social_media{
  float: center;
  width: 300px;
  padding: 200px 0 20px 15px
}

#content
{ text-align: left;
  width: 795px;
  padding: 0;}

#content img {
  max-width: 100%;}

#content  li
{ list-style-type: none;
  background: url(bullet.png) no-repeat;
  margin: 0 0 6px 0;
  padding: 0 0 4px 25px;
  line-height: 1.5em;}

footer {
  text-align: center;
  padding: 13px;
  background-color: white;
}

p3{
  color: black;
  font-size: 12px;
}

#social_media img {
  max-width: 15%;
  height: auto;
  align: left;
}

footer hr{
  width:100%;
  padding: 3px;
  color: grey;
  background-color: grey;
